[Unit]
Description=Magi service

[Service]
WorkingDirectory=/users/nouredd2
User=root
Type=forking
ExecStart=/proj/ILLpuzzle/puzzles-utils/scripts/run_magi.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
